<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars News -->
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h3> Latest Mars News</h3>
        <h4 class="heading">{{mars.news_title}}</h4>
        <small>{{mars.news_p}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3> Featured Mars Image</h3>
        <img class="img-thumbnail" src="{{mars.jpl_img}}" alt="JPL Featured Mars Image">
      </div>
      <div class="col-md-4">
        <h4 class="heading">Mars Facts</h4>
        {{mars.facts_table|safe}}
      </div>
    </div>
    <div class="row" class="text-center">
      <div class="col-md-10">
        <h3> Mars Hemispheres </h3>
        <hr>
      </div>
    </div>
    <div class="row  jumbotron">
      {% for hemisphere in mars.Hemisphere_imgs %}
      <div class="col-md-5">
        <div class="card">
          <img class="card-img-top img-thumbnail" src="{{hemisphere.img_url}}" alt="image for {{hemisphere.title}}">
          <div class="card-body">
            <h5 class="card-title">{{hemisphere.title}}</h5>
            <br>
          </div>
        </div>
      </div>  
      {% endfor %}
    </div>
  </div>
</body>

</html>